<b>список книг:</b>
<h2><%= @list.title %></h2>
<div>
  <% if false && @list.cover %>
    <img src="https://d15rt5giy0bfyx.cloudfront.net<%= @list.thumb %>" alt="<%= @list.title %>" title="<%= @list.title %>" />
  <% end %>
  <%= @list.description %>
</div>
<br/><br/>

<%= render partial: "books/descriptions_list", collection: @items, as: :item, locals:{descriptions: @list.descriptions }  %>
<%= render partial: "layouts/paginator" %>

<% content_for(:title, "#{@list.title}. Підбірка книг") %> 
<% content_for(:description, "#{@list.description}") %> 
<% content_for :meta do %>
<meta content='<%= @list.description %>' property='og:description'>
<meta content='https://d15rt5giy0bfyx.cloudfront.net<%= @list.thumb %>' property='og:image'>
<meta content='website' property='og:type'>
<% end %>
