

<a href="/admin/lists/new" class="btn btn-primary">Create</a>

<br/>
<br/>


<div class="panel panel-primary"> 
    <div class="panel-heading"> 
        <h3 class="panel-title">Lists</h3> 
    </div> 
    <div class="panel-body"> 

    <table class="table table-hover"> 
        <thead> 
            <tr> 
                <th>#</th> 
                <th>Title</th> 
                <th>Status</th> 
                <th>actions</th> 
            </tr> 
        </thead> 
        <tbody> 
            <% @items.each do |item| %>
            <tr> 
                <th scope="row"><%= item.id %></th> 
                <td><%= item.title %></td> 
                <td><%= item.status %></td> 
                <td>
                    <a href="/admin/lists/<%= item.id %>/edit" class="btn btn-primary btn-xs">edit</a>
                    <%= link_to 'Destroy',  "/admin/lists/#{item.id}",  method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-xs" %>
                </td> 
            </tr> 
            <% end %>
        </tbody> 
    </table>


    </div> 
</div>
