<div class="quote_href col-centered">
  <div class='q_text'><%== quote.text.gsub("\n", '<br/>') %></div>
  <% if quote.book%>
    <div class="q_book">
      <% if quote.book['cover'].present? %>
        <a href="/books/<%= quote.book.seo %>">
          <img src="<%= Book.thumb(quote.book) %>" class="book_cover" alt='<%= "#{quote.book.title}. #{quote.book.author_title}" %>' title='<%= "#{quote.book.title}. #{quote.book.author_title}" %>' />
        </a>
      <% end %>
        <a href="/books/<%= quote.book.seo %>"><%= quote.book.title %></a><br/>
        <%= quote.book.author_title %> 
        <% unless defined?(hide_comment_button) && hide_comment_button %>
        <br/>
        <a href="/quotes/<%= quote.id %>" class='q_href'>[коментувати]</a>
        <% end %>
        <div class="clearfix"></div>
    </div>
  <% else %>
    <div class="q_book">
      <%== "#{quote.book_name}<br/>" if quote.book_name.present? %>
      <%== "#{quote.author_name}" if quote.author_name? %>
      <% unless defined?(hide_comment_button) && hide_comment_button %>
      <br/>
      <a href="/quotes/<%= quote.id %>" class='q_href'>[коментувати]</a>
      <% end %>
      <div class="clearfix"></div>
    </div>
  <% end %>
</div>

<hr/>

