<a href="/lists/<%= list.seo %>" class="list_href col-centered col-xs-10">
  <img src="https://d15rt5giy0bfyx.cloudfront.net<%= list.thumb %>" alt="<%= list.title %>" title="<%= list.title %>" />
  <div><%= list.title %></div>
</a>
