<% if !item.try(:is_copy) %>
<div class="book_item">
    <a href='/books/<%= item.seo%>'><%= item.title%></a><br/>
    <% if item.authors.loaded? %>
      <% item.authors.each do |author|%>
        <a class="author_link" href='/authors/<%= author.seo%>'><%= author.display_title%></a><br/>
      <% end %>
    <% end %>

    <% Book::FORMATS.each do |frmt| %>
      <% next unless item[frmt] %>
      <% frmt = 'папір' if frmt == :paper %>
      <span class="label label-warning"><%=frmt%></span>
    <% end %>
</div>
<%end%>