<div itemscope itemtype="http://schema.org/Book">
  <h2 itemprop="name"><%= @book.title %></h2>
  <% @book.authors.each do |author|%>
    <a href='/authors/<%= author.seo%>' itemprop="author"><%= author.display_title%></a>
  <% end %>
  <% if @book.genre.present? %>
  / <a href='/genres/<%= @book.genre.seo%>' itemprop="genre"><%= @book.genre.title %></a><br/>
  <% end %>

  <% @book.tags.each do |item|%>
    <a href='/tags/<%= item.seo%>' class="label label-default"><%= item.uk%></a>
  <% end %>
  <hr/>

  <% if @book.cover.present? %>
    <img src="<%= @book.cover %>" alt='<%= @book.title %>' title='<%= @book.title %>' class="book_cover" itemprop="image" />
  <% end %>
  <% if @book.description.present? %>
  <div itemprop="description" class="justify">
      <strong>Опис:</strong><br/>
      <%== HTMLEntities.new.decode(@book.description) %>
  </div>
  <% end %>
  <div class="clearfix"></div>

  <div>
    <h3 class="bold">Доступні формати:</h3>

    <% $book_formats.each do |frmt| %>
      <% next unless @book[frmt] %>
      <a href="<%=@book[frmt]%>" class="download_href" target="_blank" rel="nofollow">

          
          <span class="glyphicon glyphicon-<%=frmt == 'paper' ? 'book' : 'cloud-download' %>" aria-hidden="true"></span>    
          <%=frmt == 'paper' ? 'папір' : frmt.upcase %>
      </a>
    <% end %>
  </div>

  <div class="bottom_description">
    <p>
      В бібліотеці зібрані всі книги українською мовою в електронному (txt, rtf, doc, pdf, fb2, epub, mobi, djvu) та паперовому форматі. Книжку можна безкоштовно скачати клікнувши на необхідний Вам формат або купити паперовий варіант тексту з доставкою по Україні. Сайт бібліотеки оптимізований для роботи на смартфонах і планшетах. Потрібну книгу Ви можете легко знайти за допомогою пошуку.
    </p>
  </div>
</div>

  <% content_for(:title, "#{@book.title}. #{@book.author_title}. Книга скачати безкоштовно або купити") %> 
  <% content_for(:description, "#{@book.title}. #{@book.author_title}. Скачати книжку безкоштовно або купити з доставкою") %> 