<h2><%= params[:key] %></h2>
<p>
  Тут зібрано всі доступні книги в <%= params[:key] %> форматі. Більшість можна скачати безкоштовно на комп'ютер, планшет або телефон. Файли книжок можна читати на смартфоні (айфон, андроїд та інші) за допомогою різноманітних програм, вже встановлених виробником Вашого пристрою. Також існує багато додатків доступних для завантаження бесплатно. 
</p>

<%= render partial: "bibliotheca/books/list", collection: @items, as: :item  %>

<%= render partial: "bibliotheca/shared/paginator" %>
<%= render partial: "bibliotheca/shared/book_search_form" %>

<% content_for(:title, "#{params[:key]} книги. Cкачати українською.") %> 
